// Component variables
$element-bg: color(grays, white);  // Card background

@import "../../css/no-spacing";
@import "../../css/core/variables";
@import "../../css/core/core";
@import "../../css/grid";
@import "../../components";

body {
  font-family: Calibri, sans-serif;
  background-color: color(grays, light4);
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p, li {
  @extend .lh-copy;
}

h1, h2 {
  @extend .bb, .b-secondary-dark1, .pv1;
}

h1, h2, h3, h4, h5 {
  @extend .mb3, .ph1;
}

#header {
  height: 60px;
}

.container {
  width: 100%;
  max-width: 780px;
  min-height: calc(100vh - 120px);

  margin: 0 auto 10px;
  padding: 10px;

  &>h1 {
    border-bottom: 2px solid color(secondary, dark1);
  }
}

pre {
  @extend .bg-grays-light3, .bg-grays-light3, .pv2, .ph3, .br2, .overflow-x-auto;
}

code {
  @extend .bg-grays-light3, .overflow-x-auto;
}
a {
  color: text-color(copy);
}

a:hover, a:visited {
  color: inherit;
}