/*
  BUTTON

  base
    btn

  modifiers
    -[color]
    -[width]
    -ghost
*/

a.btn {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.btn {
  @extend .ma1, .ph4, .lh-copy, .bw0, .br2, .pointer, .dim;
  min-height: 32px;
  min-width: 80px;
}

.btn-s {
  min-width: unset;
}

.btn-ghost {
  @extend .bg-transparent, .ba, .bw1;
}

@each $key, $value in $colors {
  .btn-#{$key} {
    @extend .bg-wcag-#{$key};

    &.btn-ghost {
      @extend .b-#{$key}, .c-#{$key};
    }
  }
}