{{!
name     tag-list
vars
    title       (optional)
    color       (optional) light4 type of specified color
    , default secondary-light4
    tags[
        name    (recommended)
        url     (optional)
    ]
}}
<div class="flex items-center">
    {{#title}}<div class="ma1 pv1 ph2">{{title}}</div>{{/title}}
    <div class="flex flex-wrap">
        {{#tags}}
            {{#url}}<a class="link" href="{{url}}">{{/url}}
                <div class="ma1 pv1 ph2 br2
                bg-wcag-{{^color}}secondary{{/color}}{{#color}}{{color}}{{/color}}-light4
                {{#url}}hover-bg-{{^color}}secondary{{/color}}{{#color}}{{color}}{{/color}}-light2{{/url}}">
                    {{name}}
                </div>
            {{#url}}</a>{{/url}}
        {{/tags}}
    </div>
</div>