<header class="bg-wcag-primary h2 flex items-center">
    <div class="f6 ml1 f4-ns">Friso's Component API</div>
    <nav class="h-100 m-lm">
        <ul class="flex items-center h-100 list ml3">
            <a class="c-light ph2 no-underline hover-secondary hover-primary" href="{{ baseUrl}}index.html">     <li>Home</li>   </a>
            <a class="c-light ph2 no-underline hover-secondary hover-primary" href="{{ baseUrl}}contents.html">  <li>Docs</li>   </a>
            <a class="c-light ph2 no-underline hover-secondary hover-primary" href="#">              <li>Github</li> </a>
        </ul>
    </nav>
</header>